[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
"google-auth-httplib2" = "*"
flask = "*"
requests = "*"

[requires]
python_version = "2.7"
